<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redisdemo.demo.dao.PersionMapper">
    <resultMap id="BaseResultMap" type="com.redisdemo.demo.entity.Persion">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
    </resultMap>


    <!-- 表字段 -->
    <sql id="baseColumns">
          id
        , `name`
        , parent_id
     </sql> 

    <!-- 分页查询全部 -->
    <select id="getPersions" resultMap="BaseResultMap">
        SELECT         
        	<include refid="baseColumns" />
        FROM  person
    </select>


</mapper>